In [3]:
# Declare a variable and initialize it
f = 101
print(f)
# Global vs. local variables in functions
def someFunction():
 f = 'I am learning Python'
 print(f)
someFunction()
print(f)

101
I am learning Python
101

In [4]:
tup1 = ('Robert', 'Carlos','1965','Terminator 1995', 'Actor','Florida');
tup2 = (1,2,3,4,5,6,7);
print(tup1[0])
print(tup2[1:4])

Robert
(2, 3, 4)

In [5]:
x = ("Guru99", 20, "Education") # tuple packing
(company, emp, profile) = x # tuple unpacking
print(company)
print(emp)
print(profile)

Guru99
20
Education

In [6]:
a=(5,6)
b=(1,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

a is bigger

In [7]:
a = {'x':100, 'y':200}
b = list(a.items())
print(b)

[('x', 100), ('y', 200)]

In [8]:
x = ("a", "b","c", "d", "e")
print(x[2:4])

('c', 'd')

In [9]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25} 
print((Dict['Tiffany']))

22

In [11]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Tim': 18, 'Charlie': 12, 'Robert': 25}
{'Tiffany': 22}

In [12]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [13]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
del Dict ['Charlie']
print(Dict)

{'Tim': 18, 'Tiffany': 22, 'Robert': 25}

In [17]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Boys = {'Tim': 18,'Charlie':12,'Robert':25}
Girls = {'Tiffany':22}
for key in Boys.keys():
 if key in Dict.keys():
  print(True)
 else: 
  print(False)

True
True
True

In [18]:
import array as myarray
abc = myarray.array('d', [2.5, 4.9, 6.7])
print("Array first element is:",abc[0]) 
print("Array last element is:",abc[-1])

Array first element is: 2.5
Array last element is: 6.7

In [19]:
import array as myarr 
no = myarr.array('b', [10, 4, 5, 5, 7]) 
del no[4] 
print(no)

array('b', [10, 4, 5, 5])